## C-Sharp
# Build folders
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/

# Visual Studio directory
**/.vs/

# Visual Studio Code directory
**/.vscode/
**/[Pp]roperties/
**/[Pp]ackages/

# Visual Studio project files
**/*.sln
**/*.csproj
**/*.csproj.user
**/*.vsconfig

## Python
# PyCharm project files
.idea
